
@font-face {
    font-family: work;
    src:url(/assets/fonts/WorkSans-VariableFont_wght.ttf);
}
:root{
    --White: hsl(0, 0%, 100%);
    --LightPink: hsl(275, 100%, 97%);
    --GrayishPurple: hsl(292, 16%, 49%);
    --DarkPurple: hsl(292, 42%, 14%);
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    font: inherit;
}
body{
    font-size: 16px;
    font-family: 'work', sans-serif;
    min-height: 100vh;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
/* Faq styles */
.faq{
    min-height: 100vh;
    background-color: var(--LightPink);
}
.faq__bg{
    position: relative;
}
.faq__bg img{
    object-fit: cover;
    width: 100%;
}
.faq__body{
    padding: min(1rem, 3rem);
    background-color: var(--White);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width: min(50rem, 90%);
    margin-inline: auto;
    border-radius: .325rem;
}
.faq__title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: .5rem;
    font-size: clamp(2.375rem, 1.9837rem + 1.9565vw, 3.5rem);
    font-weight: bold;
    color: var(--DarkPurple);
    margin-bottom: 2rem;
}
.faq__ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    display: grid;
    row-gap: 1.5rem;
}
.faq__collapse{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms ease-in-out;
}
.faq__collapse > li{
    color: var(--GrayishPurple);
    font-weight: 400;
    overflow: hidden;
}
.faq__collapse--visible{
    grid-template-rows: 1fr;
}
.faq__question{
    font-weight: 600;
    color: var(--DarkPurple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.faq__question p{
    margin-bottom: 0;
}
.faq__question-button{
    background-color: transparent;
    border: none;
}
.faq__question-button:hover{
    cursor: pointer;
}
